nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    border-bottom: 1px solid #000;
    z-index: 1000;
    background: rgba(235, 235, 235, 1.00);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

#logo {
    max-width: 30%;
    height: auto;
    padding: 10px;
}

nav-bar .container .logo-text {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
}

nav-bar ul {
    list-style: none;
    display: flex; /* Change to flexbox */
    margin: 0;
    padding: 0;
}

nav-bar ul li {
    margin: 0 20px; /* Adjust margin */
    font-weight: 500;
}

nav-bar ul li a {
    text-decoration: none;
    color: black;
}

nav-bar ul li a:hover {
    background: rgba(200, 200, 200, 1.00);
    transition: color 0.3s;
}

.menu-icon {
    display: none;
}

/* Dropdown Menu Styling */
nav-bar ul li.dropdown {
    position: relative;
}

nav-bar ul li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background: rgba(235, 235, 235, 1.00);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    z-index: 1;
}

nav-bar ul li.dropdown .dropdown-content li {
    padding: 12px 16px;
    text-align: left;
    margin: 0;
    border-bottom: 1px solid #000; /* Matches navbar border */
}

nav-bar ul li.dropdown .dropdown-content li:last-child {
    border-bottom: none; /* No border for the last item */
}

nav-bar ul li.dropdown .dropdown-content li a {
    color: black;
    text-decoration: none;
    display: block;
}

nav-bar ul li.dropdown .dropdown-content li:hover {
    background: rgba(200, 200, 200, 1.00);
}

nav-bar ul li.dropdown:hover .dropdown-content {
    display: block;
}



/* Navbar for mobile */
@media only screen and (max-width: 1200px) {
    nav-bar ul {
        flex-direction: column; /* Change to column layout */
        position: absolute;
        width: 100%;
        background: rgba(240, 240, 240, 1.00); /* Lighter grey color */
        color: black;
        left: 0;
        top: 100%;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav-bar ul li {
        margin: 10px 0; /* Adjust margin */
        font-size: 14px;
    }

    .menu-icon {
        display: block;
        width: 50px;
        padding: 10px;
    }

    .show-menu {
        max-height: 1000px;
    }
}
