nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
  border-bottom: 1px solid #000;
  z-index: 1000;
  background: rgba(235, 235, 235, 1);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

#logo {
  max-width: 30%;
  height: auto;
  padding: 10px;
}

nav-bar .container .logo-text {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 10px;
  font-weight: bold;
}

nav-bar ul {
  list-style: none;
  display: flex; /* Change to flexbox */
  margin: 0;
  padding: 0;
}

nav-bar ul li {
  margin: 0 20px; /* Adjust margin */
  font-weight: 500;
}

nav-bar ul li a {
  text-decoration: none;
  color: black;
}

nav-bar ul li a:hover {
  background: rgba(200, 200, 200, 1);
  transition: color 0.3s;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* Dropdown Menu Styling */
nav-bar ul li.dropdown {
  position: relative;
}

nav-bar ul li.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background: rgba(240, 240, 240, 1);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 90px;
  z-index: 1;
  /* make the font size smaller */
  font-size: 14px;
}

nav-bar ul li.dropdown .dropdown-content li {
  padding: 12px 16px;
  text-align: left;
  margin: 0;
  border-bottom: 1px solid #000;
  text-align: center;
}

/* nav-bar ul li.dropdown .dropdown-content li:last-child {
  border-bottom: none;
} */

nav-bar ul li.dropdown .dropdown-content li a {
  color: black;
  text-decoration: none;
  display: block;
}

nav-bar ul li.dropdown .dropdown-content li:hover {
  background: rgba(200, 200, 200, 1);
}

nav-bar ul li.dropdown:hover .dropdown-content {
  display: block;
  animation: fadeIn 0.5s; /* Fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Navbar for mobile */
@media only screen and (max-width: 1200px) {
  nav-bar ul {
    flex-direction: column; /* Change to column layout */
    position: absolute;
    width: 100%;
    background: rgba(235, 235, 235, 1);
    color: black;
    left: 0;
    top: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav-bar ul li {
    margin: 10px 0; /* Adjust margin */
    font-size: 14px;
  }

  .menu-icon {
    display: block;
    width: 50px;
    padding: 10px;
  }

  .show-menu {
    max-height: 5000px;
    animation: fadeIn 0.5s; /* Fade-in animation */
  }

  .show-dropdown {
    max-height: 5000px;
    animation: fadeIn 0.5s; /* Fade-in animation */
  }

  /* Style adjustments for dropdown in mobile view */
  nav-bar ul li.dropdown {
    width: 100%; /* Makes the dropdown full width */
  }

  nav-bar ul li.dropdown .dropdown-content {
    position: static; /* Prevents absolute positioning issues on mobile */
    width: 100%; /* Full width for better touch interaction */
    box-shadow: none; /* Removes shadow for a cleaner look */
  }

  nav-bar ul li.dropdown .dropdown-content li {
    display: block; /* Ensures that each item is full width */
    width: 100%; /* Full width for easier touch */
    padding: 15px; /* Larger padding for easier touch interaction */
    border-bottom: 1px solid #d3d3d3; /* Lighter border for subtle separation */
    /* make the font size smaller */
    font-size: 12px;
  }

  nav-bar ul li.dropdown .dropdown-content li a {
    width: 100%; /* Full width links for easier touch interaction */
  }
}
