* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  padding-top: 130px;
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  font-size: 2em;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 20px; /* Add padding above */
  padding-bottom: 20px; /* Add padding below */
}

p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 20px;
  padding-top: 5px; /* Add padding above */
  padding-bottom: 5px; /* Add padding below */
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 0.9em;
  }
}
