* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgba(245, 245, 245, 1); /* Light grey color */
}

main {
  padding-top: 135px; 
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}

h1 {
  font-size: 2em;
  line-height: 1;
  font-weight: bold;
  padding-top: 0.5em; 
  padding-bottom: 0.5em;
}

h2 {
  font-size: 1.3em;
  line-height: 1.3;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h3 {
    font-size: 1em;
    line-height: 1.4;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

p,li {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1%;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
}

ul, ol {
  padding-left: 2em;
  padding-right: 2em;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1em;
  }

  p {
    font-size: 0.7em;
  }
}
